html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 500px;
}

.banner-content {
  position: absolute;
  left: 50%;
  bottom: 2em;
  transform: translateX(-50%);
  max-width: 50em;
  width: 100%;
}

.banner h2 {
  display: inline;
  font-size: 4rem;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  text-align: left;
}

.banner-content p {
  margin: 0;
  font-size: 2rem;
  font-style: italic;
  text-align: left;
}
